@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/* LEFT BAR E CONTENT  */
.leftbar{
    width: 25%;
    position: relative;
    background-color: #ddd;
}
.content{
    width: 75%;
}
        /* HEADER  */
.header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5A5ADB ;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}
.logo a {
    color: rgb(27, 27, 66);
}

.header h2 {
    color: rgb(27, 27, 66);
    font-size: 20px;
}
.menu ul {
    list-style: none;
    display: flex;
    
}
.menu li{
    margin: 0 5px;
    justify-content: right;
}
.menu a{
    text-decoration: none;
    color: rgb(27, 27, 66);
    font-size: 14px;
    font-weight: 900;
}

h1, h2, h3, a{
    font-family: Lato;
}
h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(27, 27, 66);
    margin: 30px 0 25px 20px; 
}
 p, li{
     font-family: open sans condensed;
     
 }
.hot img{
    margin: 0 40px;
    height: auto;
    width: 400px;
}

h1{
    margin: 100px 0 25px 40px;
}
h2{
    font-size: 11px;
    margin: 20px 20px 20px 42px;
}

h3{
    font-size: 22px;
    margin: 20px 20px 20px 42px;
}
h4{
    font-size: 22px;
    margin: auto;
    background-color: #5A5ADB;
    color: #FFF;
    display: flex;
    justify-content: center;
    line-height: 50px;
}

.hot{
    display: flex;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
}

.txt{
    width: 400px;
    height: auto;
}
.txt p {
    width: 400px;
    height: auto;
}
 
.cadastro__pontos{
    width: 800px;
    height: auto;
    border: 1px solid #aaa;
    margin-top: 50px;
}

.cadastro__pontos h3{
    margin: 0;
    padding: 20px;
    background-color:#5A5ADB  ;
    color: white;

}
.cadastro__pontos label{
    display: block;
    line-height: 30px;
}

/* LEFT BAR */
.leftbar{
    width: 25%;
    position: relative;
    background-color: #ddd;
   
    justify-content: space-around;
}
.formulario1 {
    position: fixed;
    top: 50px;
    margin: 11px;
    width: 20%;
    border: solid 1px #000;
}
.banner{
    position: fixed;
    top: 220px;
    margin: 11px;
    width: 20%;
    border: solid 1px #000;
}
.banner img{
    width: 100%;
}
.banner1 img{
    width: 100%;
}
.banner1 {
    position: fixed;
    top: 475px;px;
    margin: 11px;
    width: 20%;
    border: solid 1px #000;

}
.landingpage{
    display:flex;

}
