@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.content{
    margin: 0 auto;
    width: 990px;
}
.header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}
.logo a {
    color: rgb(8, 0, 51);
}
.header{   
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2 {
    color: rgb(8, 0, 51);
    font-size: 20px;
}
.menu ul {
    list-style: none;
    display: flex;
    
}
.menu li{
    margin: 0 5px;
    justify-content: right;
}
.menu a{
    text-decoration: none;
    color: rgb(8, 0, 51);
    font-size: 14px;
    font-weight: 900;
}

h1, h2, h3, a{
    font-family: Lato;
}
 p, li{
     font-family: open sans condensed;
     
 }
div img{
    margin: 0 40px;
    height: auto;
    width: 400px;
}

h1{
    margin: 100px 0 25px 40px;
}
h2{
    font-size: 11px;
    margin: 20px 20px 20px 42px;
}

h3{
    font-size: 22px;
    margin: 20px 20px 20px 42px;
}

.hot{
    display: flex;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
}

.txt{
    width: 400px;
    height: auto;
}
.txt p {
    width: 400px;
    height: auto;
}
 